#(C) Copyright 2013-2024 OpenText (IP) Ltd
[commands]
date
date -u
hostname

[files]
${CDF_HOME}/install*.log
${CDF_HOME}/version.txt


[dirs]
${CDF_HOME}/cfg *_User.json
${CDF_HOME}/log
${CDF_HOME}/manifests
${CDF_HOME}/objectdefs
${CDF_HOME}/runconf
${CDF_HOME}/scripts/*.*
${CDF_HOME}/cfg
${CDF_HOME}/ssl/*.crt
